/* .header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100vw;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_logo {
  width: 13vw;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header_optionLineOne {
  font-size: 10px;
}

.header_optionLineTwo {
  font-size: 0.7rem;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
} */

@media screen and (max-width: 450px) {
  .header {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
  }

  .header_search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    width: 70%;
  }

  .header_searchInput {
    height: 1rem;
    border: none;
    width: 100%;
    font-size: 0.5em;
  }

  .header_searchIcon {
    background-color: #cd9042;
  }

  .header_logo,
  .header_nav {
    display: none;
  }
}
